body {
	width: 1000px;
	height: 1200px;
	font-family: Noto Sans;
}

table {
	border: 2px solid #005900;
	border-collapse: collapse;
	table-layout: fixed;
}

td {
	border: 1.5px solid #005900;
	border-collapse: collapse;
	text-align: center;
}

th {
	border: 1px solid #005900;
	border-collapse: collapse;
}

tr {
	height: 30px;
}

.fuel-row {
	display: flex;
	flex-direction: row;
}

.fuel-column {
	display: flex;
	flex-direction: column;
}

#prices table {
	width: 162.5px;
	margin-top: 31px;
	border-left: 0px solid #005900;
}

#prices td {
	text-align: left;
}

#fuel-ssp-self table {
	width: 350px;
	border-right: 1px solid #005900;
	border-bottom: 1px solid #005900;
}

#fuel-ssp-self .narrow {
	width: 30px;
	font-weight: 700;
}

#fuel-ssp-self .wide {
	width: 100px;
}

#fuel-ssp-serv table {
	width: 350px;
	border-top: 1px solid #005900;
	border-right: 1px solid #005900;
	border-bottom: 1px solid #005900;
}

#fuel-ssp-serv .narrow {
	width: 30px;
	font-weight: 700;
}

#fuel-ssp-serv .wide {
	width: 100px;
}

#fuel-diesel-self table {
	width: 350px;
	border-top: 1px solid #005900;
	border-right: 1px solid #005900;
	border-bottom: 1px solid #005900;
}

#fuel-diesel-self .narrow {
	width: 30px;
	font-weight: 700;
}

#fuel-diesel-self .wide {
	width: 100px;
}

#fuel-diesel-serv table {
	width: 350px;
	border-top: 1px solid #005900;
	border-right: 1px solid #005900;
	border-bottom: 1px solid #005900;
	margin-top: -1px;
}

#fuel-diesel-serv .narrow {
	width: 30px;
	font-weight: 700;
}

#fuel-diesel-serv .wide {
	width: 100px;
}

#fuel-diesel-1 table {
	width: 487.5px;
	border-left: 1px solid #005900;
	border-bottom: 1px solid #005900;
}

#fuel-diesel-1 .narrow {
	width: 30px;
	font-weight: 700;
}

#fuel-diesel-1 .medium {
	width: 132.5px;
}

#fuel-diesel-1 .wide {
	width: 162.5px;
}

#fuel-diesel-2 table {
	width: 487.5px;
	border-left: 1px solid #005900;
	border-top: 1px solid #005900;
	border-bottom: 0px solid #005900;
}

#fuel-diesel-2 .narrow {
	width: 30px;
	font-weight: 700;
}

#fuel-diesel-2 .medium {
	width: 132.5px;
}

#fuel-diesel-2 .wide {
	width: 162.5px;
}

#fuel-gpl table {
	width: 650px;
	border-left: 1px solid #005900;
	border-top: 1px solid #005900;
	border-bottom: 0px;
}

#fuel-gpl .wide {
	width: 162.5px;
}

#partial-total table {
	width: 650px;
	margin-top: -1px;
	border-bottom: 1px solid #005900;
	border-left: 0px;
	border-top: 0px;
}

#partial-total .wider {
	width: 325px;
}


#partial-total .wide {
	width: 162.5px;
}

.stuff table {
	width: 256px;
	border-top: 1px solid #005900;
	border-bottom: 1px solid #005900;
}

#deposits table {
	border-bottom: 2px solid #005900;
}

#whatnot table {
	margin-top: -1px;
	border-top: 2px solid #005900;
}

#half-total-1 table {
	border-right: 0px;
	margin-top: -1px;
}

#half-total-1 th {
	border-right: 0px;
	border-bottom: 1px solid #005900;
	text-align: right;
}

#phone-credit table {
	border-top: 1px solid #005900;
	border-bottom: 2px solid #005900;
	margin-top: -1px;
}

#phone-credit td {
	text-align: left;
	border-bottom: 1px solid #005900;
}

#gpl-clocks table {
	margin-top: -1.5px;
	border-bottom: 1px solid #005900;
}

#gpl-clocks td {
	text-align: left;
	border-bottom: 1px solid #005900;
}

#working-hours table {
	margin-top: -1.5px;
	border-top: 2px solid #005900;
	border-bottom: 2px solid #005900;
}

#working-hours td {
	text-align: left;
}

.stuff-totals table {
	width: 489.5px;
	margin-top: -1px;
}

.stuff-totals td {
	text-align: left;
}

.stuff-totals.split {
	width: 162.5px;
}

#estimated-incomes table {
	margin-top: -2px;
}

#totals table {
	margin-top: -2px;
}

.title {
	text-align: center;
	font-weight: 700;
	margin: 20px;
	color: #005900;
}

.preliminary-info table {
	width: 100%;
	table-layout: fixed;
	text-align: left;
	border: 0;
}

.preliminary-info th {
	border: 0;
	font-weight: 400;
}

.code {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 2em;
	font-weight: 700;
	color: #005900;
}